
.profile-container{
     width: 50% !important;
     background-color: rgb(255, 255, 255) !important;
}

.profile-container .profile-box .profile-image{
     width: 80px;
     height: 80px;

     
}
.profile-container form .user-field{
     outline: none;
     border: none;
     border-bottom: 2px solid rgb(93, 93, 93) !important;
     border-radius: 2px ;

     
}


@media (max-width:1196px) {
     .profile-container {
          width: 60% !important;
     }
     
}

@media (max-width:999px) {
     .profile-container {
          width: 70% !important;
     }
     
}
@media (max-width:779px) {
     .profile-container {
          width: 90% !important;
     }
     
}
@media (max-width:400px) {
     .profile-container {
          width: 100% !important;
          background-color: red !important;
     }
     .profile-container form .signout-button,.delete-button{
          padding: 5px;
           margin: 4px !important;

     }
     .container{
          padding: 0 !important;

     }
  
     
}